@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background: #1b1a1a;
}

.container {
  width: auto;
  height: calc(100vh - 4rem);

  border-radius: 15px;

  --dot-bg: white;
  --dot-color: black;
  --dot-size: 1px;
  --dot-space: 22px;

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.menu {
  --border-width: 2px;

  position: absolute;
  padding: 0.5rem;

  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  border: 1px solid #eee;
  display: block;
  list-style: none;
  opacity: 0;
}

.menu.open {
  display: block;

  animation: showBlock 0.2s linear forwards;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
